<div id="container">
    <section id="presentation">
        <div id="left">
            <img src="../../assets/foto presentacion.png" alt="no se pudo cargar la imagen">
            <p>Tobias Valentini</p>
            <p id="df">{{'rol' | translate}}</p>
        </div>
        <div id="right">
            <p>{{'presentation' | translate}}</p>
            @if(lngBtn){
                <a href="../../assets/Portfolios/Tobias Valentini CV - ES.pdf" target="_blank">Curriculum</a>
            }
            @else {
                <a href="../../assets/Portfolios/Tobias Valentini CV - EN.pdf" target="_blank">Resume</a>
            }
        </div>
    </section>
</div>
