#container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

#presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(21,21,21);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px 3px rgba(74, 74, 75, 0.6), 0 0 20px 5px rgba(74, 74, 75, 0.4);
    width: 50%;
}

#left{
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    border: .3rem solid rgb(214, 212, 212);; ;
    border-radius: 1rem;
}

#df{
    font-size: 2rem;
}

#right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p{
    font-size: 1.7rem;
}


