#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#technologyes{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 1rem;

}

#technologyes img{
    width: 10rem;
}

#proyectos{
    margin-block: 1rem;
    width: 80rem;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(35rem,1fr)
    );
    gap: 16px;
}

.proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: rgb(21,21,21);
    margin-left: 1rem;
    border-radius: 1rem;
    height: 27rem;
    width: 35rem;
    transition: all .3s;
}

.proyecto:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px 3px rgba(74, 74, 75, 0.6), 0 0 20px 5px rgba(74, 74, 75, 0.4);
}

.left{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left img{
    width: 65%;
    margin-right: 1rem;
}

.right{
    width: 100%;
    text-align: center;
}

#title{
   font-size: 2rem;
}

p{
    font-size: 1.3rem;
}

#gl{
    margin-left: 1rem; 
}