<div id="technologyes">
    <img src="../../assets/logos/logo html.png" alt="">
    <img src="../../assets/logos/logo css.png" alt="">
    <img src="../../assets/logos/logo js.png" alt="">
    <img src="../../assets/logos/logo angular.png" alt="">
    <img src="../../assets/logos/logo ts.png" alt="">
    <img src="../../assets/logos/logo git.png" alt="">
</div>
<div id="proyectos">

    <section class="proyecto">
        <div class="left">
            <img src="../../assets/PP/Screenshot_1.png" alt="no se pudo cargar la imagen">
        </div>
        <div class="right">
            <p id="title">Portfolio Isadora</p>
            <p>Html,Css,Angular,Typescript</p>
            <p>{{'pi'|translate}}</p>
            <a href="https://portfolioisadoraali.netlify.app/" target="_blank" id="wl">{{'wl'|translate}}</a>
            <a href="https://github.com/Ttbias2/Portfolio_isadora/tree/master" target="_blank" id="gl">{{'gl'|translate}}</a>
        </div>
    </section>

    <section class="proyecto">
        <div class="left">
            <img src="../../assets/PP/image.png" alt="no se pudo cargar la imagen">
        </div>
        <div class="right">
            <p id="title">Superhero card game</p>
            <p>Html,Css,Angular,Typescript</p>
            <p>{{'scg'|translate}}</p>
            <a href="https://supercarggame.netlify.app" target="_blank" id="wl">{{'wl'|translate}}</a>
            <a href="https://github.com/Ttbias2/scg.git" target="_blank" id="gl">{{'gl'|translate}}</a>
        </div>
    </section>

</div>