<div id="contenedor">
    <section>
        <img src="../../assets/logos/logo-gmail.png" alt="">
        <p>tobiasvalentini73gmail.com</p>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=tobiasvalentini73@gmail.com" target="_blank">{{'gmail'|translate}}</a>
    </section>

    <section>
        <img src="../../assets/logos/logo-linkedin.png" alt="">
        <p>Tobias Alejandro Valentini</p>
        <a href="https://www.linkedin.com/in/tobias-alejandro-valentini-30a570211/" target="_blank">{{'lnk'|translate}}</a>
    </section>
</div>