<nav>
    <button [ngClass]="{disabled: window==0}" (click)="changeWindow(0)">{{'about me' | translate}}</button>
    <button [ngClass]="{disabled: window==1}" (click)="changeWindow(1)">{{'proyects' | translate}}</button>
    <button [ngClass]="{disabled: window==2}" (click)="changeWindow(2)">{{'contact' | translate}}</button>
    <input type="checkbox" name="" id="idioma" class="offscreen" (change)="changeLenguage()">
    <label for="idioma" class="switch"></label>

    @if(window==0)
    {
        <app-about-me [lngBtn]="es"></app-about-me>
    }
    @else if (window==1) {
        <app-proyects></app-proyects>
    }
    @else {
        <app-contact></app-contact>
    }
</nav>